.nav-item .active {
    color: #fff !important;
}

p:has(a.active) {
    padding-bottom: 5px;
    border-radius: 3px;
    background-color: rgb(112, 29, 29);
    color: #fff;
    padding-top: 1px;
}

.frm-table-editor {
    border: 1px solid #dee2e6;
    padding: 12px 17px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.mt--3 {
    margin-top: -3px;
}

.lb-search-input {
    margin-right: 10px;
}

.loader-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.834)
        url("../images/loading.gif") center
        no-repeat;
    z-index: 10000;
}


.awfw {
    background-color: red;
    width: 100%;
    height: 100%;
    position: fixed;
}
