.nav-item .active {
    color: #fff !important;
}

p:has(a.active) {
    padding-bottom: 5px;
    border-radius: 3px;
    background-color: rgb(112, 29, 29);
    color: #fff;
    padding-top: 1px;
}

.frm-table-editor {
    border: 1px solid #dee2e6;
    padding: 12px 17px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.mt--3 {
    margin-top: -3px;
}

.lb-search-input {
    margin-right: 10px;
}

.loader-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.834)
        url("../images/loading.gif") center
        no-repeat;
    z-index: 10000;
}

.user-menu {
    margin-left: 20px;
}

.user-menu .active {
    color: var(--bs-nav-link-color) !important;
}

.user-menu .nav-item {
    padding: 5px 0px;
    margin-right: 10px
}

.user-menu .nav-item a {
    padding-left: 20px !important;
    padding-right: 20px !important;
    background-color: none;
    color: #701D1D !important;
    border-radius: 15px;
    padding: 3px 6px;
    border: 1px solid #701D1D;
}

/* .user-menu .nav-item:last-child a {
    border-right: none;
} */

.user-menu .nav-item a.active {
    background-color: #701D1D;
    color: #fff !important;
}



